@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Poppins&display=swap');

$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #F3EEEA;
$background-alternative-color: rgb(121, 191, 191);

$header-font: 'Bitter', serif;
$main-font: 'Poppins', sans-serif;